body {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}
ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  font-size: larger;
}
li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
  z-index: 1;
}
nav {
  text-align: center;
  background-color: #ff9900;
}
nav ul {
  display: inline-block;
  list-style: none;
}
#food {
  color: #000;
  text-align: center;
  font-size: 64px;
}
#factory {
  color: #ff9900;
  text-align: center;
  font-size: 64px;
  stroke: #000;
}
#logo {
  display: block;
  text-align: center;
}
hr {
  border-top: 2px solid #000;
  margin: 30px;
}
#motto {
  text-align: center;
  font-size: 64px;
}
#orange {
  color: #ff9900;
}
.main-text {
  text-align: center;
  font-size: 48px;
}
.active {
  color: #ff9900;
  background-color: #fff;
}
.slideshow {
  width: 70%;
  height: 70%;
  margin: auto;
  padding: 16px;
  background-color: #fff;
}
.slideshow img {
  height: 400px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#social {
  position: relative;
  float:right;
}
footer {
  background-color: #ff9900;
}
#copyright{
  text-align: center;
}