body {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}
nav ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left;
  font-size: larger;
}
nav li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
  z-index: 1;
}
nav {
  text-align: center;
  background-color: #ff9900;
}
nav ul {
  display: inline-block;
  list-style: none;
}
#food {
  color: #000;
  text-align: center;
  font-size: 64px;
}
#factory {
  color: #ff9900;
  text-align: center;
  font-size: 64px;
  stroke: #000;
}
#logo {
  display: block;
  text-align: center;
}
hr {
  border-top: 2px solid #000;
  margin: 30px;
}
#motto {
  text-align: center;
  font-size: 64px;
}
#orange {
  color: #ff9900;
}
.main-text {
  text-align: center;
  font-size: 48px;
}
.active {
  color: #ff9900;
  background-color: #fff;
}
.slideshow {
  width: 70%;
  height: 70%;
  margin: auto;
  padding: 16px;
  background-color: #fff;
}
.slideshow img {
  height: 400px;
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.socials {
  display: inline;
  text-align: center;
  margin: 0;
}
footer {
  display: flex;
  background-color: #ff9900;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
.copyright {
  text-align: center;
  width: 100%;
  font-size: 20px;
}
.socials,
.mail,
.contact {
  width: 33%;
}
.mail {
  margin-left: 8px;
}
.mail input {
  width: 70%;
}
.mail p,
.socials p,
.contact p {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.socials img {
  width: 64px;
  height: 64px;
  display: block;
  margin-left: 50%;
  margin-right: 50%;
}
.socials li {
  float: left;
  padding: 18px;
}
.socials ul,
.contact ul {
  list-style-type: none;
}
.contact ul,
.contact p {
  padding: 0 100px;
}
.mapouter{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.cover img{
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.description{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
  text-align: justify;
  font-size: larger;
}
.description h1{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}