body {
  background-image: url("../img/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}
h1 {
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
  font-size: larger;
}
li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 24px;
  text-decoration: none;
  z-index: 1;
}
nav {
  text-align: center;
  background-color: #ff9900;
}
nav ul {
  display: inline-block;
  list-style: none;
}
#food {
  color: #000;
  text-align: center;
  font-size: 64px;
}
#factory {
  color: #ff9900;
  text-align: center;
  font-size: 64px;
  margin-top: 30px;
  stroke: #000;
  padding-top: 20px;
}
#logo {
  display: block;
  text-align: center;
}
